@mixin flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-container($justify,$alige){
    display: flex;
    justify-content: $justify;
    align-items: $alige;
    
}

@mixin flex-cards($direction,$justify,$wrap,$text){
    display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	flex-wrap: $wrap;
	text-align: $text;
}