$background-color_inicio:  rgba(128, 0, 128, 0.712);
$color_rosanavbar: rgb(206, 94, 182);
$color_texto: rgb(226, 166, 186);
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Edu SA Beginner';
$color_shadow-negro: rgb(248, 248, 248);
$color_h1: white;
$colorcard_1: rgb(247, 208, 221);
$colorcard_2: rgb(240, 199, 213);
$background-colorcard_1: rgba(221, 62, 221, 0.295);
$box-shadow-color: violet;
$color_h3: rgb(241, 212, 241);

