h3 {
	padding-top: 20px;
	padding-left: 20px;
}

.section-cards {
	display: flex;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	list-style-type: none;
	text-align: center;
	padding: 1.25rem 0rem;
	gap: 1.25rem;
	color: $colorcard_1;
	font-weight: 600;
	font-family: $font-family_1;
}

.container-cards {
	display: flex;
	flex-direction: row;
}
.cards {
	width: 16.875rem;
	height: fit-content;
	background-color: $background-colorcard_1;
	padding: .50rem;
	box-shadow: 5px 5px 5px $box-shadow-color;
	border-radius: 5px;
	div {
		h1 {
			padding: .3125rem;
			color: $colorcard_1;
			font-weight: 450;
			font-family: $font-family_1;
		}
	}
}
.cards2 {
	width: 16.875rem;
	min-height: min-content;
	background-color: $background-colorcard_1;
	padding: .50rem;
	box-shadow: 5px 5px 5px $box-shadow-color;
	border-radius: 5px;
}
.cards2:hover{
	transform: scale(1.5);

}
.clase-img-blog1sentada {
	width: 100%;
	height: 80;
	overflow: hidden;
	img {
		width: 100%;
		object-fit: cover;
	}
}
.todas-las-cards {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	padding-bottom: 20px;
}
.titulos-h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 20px;
	margin-top: 20px;
	color: $colorcard_2;
	text-decoration: underline;
}
