.texto {
    padding: 0.625rem 0rem;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(226, 166, 186);
    font-weight: 600;
    font-family: "Edu SA Beginner";
    font-size: 25px;}
h3 {
	color: $color_h3;
	text-decoration: underline;
	font-weight: bold;
    
}
.texto{
	font-size: 25px;
}

.blog{
	font-weight: 600;
	color:whitesmoke;
}


